{% extends "base.html" %}
{% block content %}
<style>

.circlearancione {
    background-color: #c80041;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 140px;
    width: 140px;
    line-height: 150px;
    margin-left: 150px;
    margin-top: 150px;
}

span {
    margin-left: 150px;
    font-size: 150px;
    font-weight: bold;
    color: #555f5f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

</style>

    <div class="circlearancione"><span>POLIPOL</span></div>

    <!-- <div class="col-sm-9 col-md-7 col-lg-5 mx-auto"> -->
        <!-- <div class="card card-signin my-5"> -->
          <!-- <div class="card-body"> -->
            <!-- <h5 class="card-title text-center">Zaloguj się</h5> -->
            <!-- <form class="form-signin"> -->
              <!-- <div class="form-label-group"> -->
                <!-- <hr> -->
                <!-- <label for="inputEmail">Numer SAP:</label> -->
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Podaj nr SAP" required autofocus> -->
              <!-- </div> -->

              <!-- <div class="form-label-group"> -->
                <!-- <hr> -->
                <!-- <label for="inputPassword">Hasło:</label> -->
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Podaj hasło" required> -->
              <!-- </div> -->
              <!-- <div class="custom-control custom-checkbox mb-3"> -->
                <!-- <hr> -->
                <!-- <input type="checkbox" class="custom-control-input" id="customCheck1"> -->
              <!-- </div> -->
              <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Zaloguj się</button> -->
              <!-- <hr class="my-4"> -->
            <!-- </form> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->



{% endblock content %}